{% load static %}

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'pages/js/jquery-min.js' %}"></script>
<script src="{% static 'pages/js/popper.min.js' %}"></script>
<script src="{% static 'pages/js/bootstrap.min.js' %}"></script>

<script src="{% static 'pages/js/wow.js' %}"></script>
<script src="{% static 'pages/js/scrolling-nav.js' %}"></script>
<script src="{% static 'pages/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'pages/js/jquery.nav.js' %}"></script>
<script src="{% static 'pages/js/jquery.easing.min.js' %}"></script>
<script src="{% static 'pages/js/jquery.slicknav.js' %}"></script>
<script src="{% static 'pages/js/particles.min.js' %}"></script>

<script src="{% static 'pages/js/scripts.js' %}"></script>
<script src="{% static 'pages/js/form-validator.min.js' %}"></script>
<script src="{% static 'pages/js/contact-form-script.min.js' %}"></script>
<script src="{% static 'pages/js/particlesjs.js' %}"></script>