{% extends "accounts/auth_base1.html" %}
{% load static %}


{% block content %}



    <!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <div class="bar4"></div>
        <div class="bar5"></div>
    </div>
</div>

<div class="pattern">
    <span class="red"></span>
    <span class="indigo"></span>
    <span class="blue"></span>
    <span class="green"></span>
    <span class="orange"></span>
</div>
<div class="auth-main particles_js">
    <div class="auth_div vivify popIn">
        <div class="auth_brand">
            <a class="navbar-brand" href="javascript:void(0);"><img src="../assets/images/icon.svg" width="30" height="30" class="d-inline-block align-top mr-2" alt="">Oculux</a>
        </div>
        <div class="card forgot-pass">
            <div class="body">
                <p class="lead mb-3"><strong>Oops</strong>,<br> want to change password?</p>
                <p>Ok, no problem, change it.</p>
                <form class="form-auth-small" action="">
                   <div class="form-group">
                        <input type="password" name="old_password" class="form-control round" required id="id_old_password" placeholder="Old password">
                        <input type="password" name="new_password1" class="form-control round" required id="id_new_password1" placeholder="New password">
                        <ul>
                            <li>Your password can’t be too similar to your other personal information.</li>
                            <li>Your password must contain at least 8 characters.</li>
                            <li>Your password can’t be a commonly used password.</li>
                            <li>Your password can’t be entirely numeric.</li>
                        </ul>
                        <input type="password" name="new_password2" class="form-control round" required id="id_new_password2" placeholder="New password confirmation">
                    </div>
                    <button type="submit" class="btn btn-round btn-primary btn-lg btn-block">RESET PASSWORD</button>
                    <div class="bottom">
                        <span class="helper-text">Know your password? <a href="{% url 'login' %}">Login</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="particles-js"></div>
</div>
<!-- END WRAPPER -->





<!--<div class='row'>-->
<!--    <div class='col-md-6 col-10  mx-auto'>-->
<!--    <h1>Change your Password</h1>-->
<!--        <form method='post' action=''>{% csrf_token %}-->
<!--           {{ form.as_p }}-->
<!--        <span style='margin-bottom: 12px;'></span>-->
<!--        <button type="submit" class='btn btn-block btn-info'>Save</button>-->
<!--        </form>-->
<!--      </div>-->
<!--</div>-->
{% endblock %}
